@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@font-face {
  font-family: "SanFrancisco";
  src: url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2")
      format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff")
      format("woff");
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Index CSS */
h4 {
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  padding-top: 1.5em;
}

h5 {
  font-size: 1em;
}

p {
  line-height: 1.3em;
}

a,
#startstory {
  text-decoration: none;
  color: #248bf5;
}

#startstory {
  text-align: center;
}

#debug {
  color: #248bf5;
  text-transform: uppercase;
}

#debug:hover {
  color: red;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='32' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>💖</text></svg>")
      16 0,
    auto;
}

img {
  width: 100%;
}
#startstory:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='32' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>😍</text></svg>")
      16 0,
    auto;
}
a:hover {
  color: #666;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='32' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>💖</text></svg>")
      16 0,
    auto;
}

#box {
  display: flex;
  justify-content: space-around;
}

#info {
  width: 500px;
  display: inline-block;
}

#bar {
  display: none;
  position: absolute;
  z-index: 10;
  width: 10%;
  padding: 20px;
  color: #666;
  bottom: 10px;
  font-size: 0.9em;
}

#story {
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

/* Story CSS */
#wrapper {
  width: 600px;
  display: inline-block;
  text-align: left;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #222;
  /*line-height: 1.3em;*/
}

#container {
  text-align: center;
}

/* Process styling */
/* .output {
  font-size: 0.8em;
  margin: 0.5em;
  display: inline-flex;
  flex-direction: column;
  width: 280px;
  color: #666;
}

.code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.65em;
  display: inline-flex;
  flex-direction: column;
  width: 280px;
  margin: 0.5em;
  color: #248bf5;
} */

/* Artifact styling */

.artifact {
  margin: 2em;
  margin-right: 4em;
}

.user {
  padding-left: 0.5em;
  font-size: 0.8em;
  color: #666;
  margin-top: 0.5em;
}

.message_a .user {
  padding-right: 0.5em;
}

.top-time {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: #666;
}

.message {
  display: block;
  border-radius: 1em;
  padding: 0.6em;
  max-width: 350px;
  font-size: 0.9em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.from_a {
  background-color: #248bf5;
  color: white;
  margin-left: auto;
}

.from_b {
  background-color: #e5e5ea;
  color: #000;
}

.message_a {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.message_b {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.msg_header {
  margin: 0;
}

.message_container {
  margin: auto;
}

.time {
  display: none;
}

.system {
  margin-left: 1em;
  display: none;
  color: #777;
  font-size: 0.8em;
  font-family: "Inconsolata", Courier, monospace;
  line-height: 1.1em;
}

.prop {
  margin-bottom: 1px;
  margin-left: 2em;
  margin-top: 1px;
}
